@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');
/* ELIMINAR ESTILOS POR DEFECTO */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
/* ESTILOS GENERALES */

body {
    background-color: seashell;
    color: white;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}
.title{
    background-color: seashell;
    color: #57ABB3;
    text-shadow: 1px 1px 2px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}
/* ESTILOS DEL HEADER */

.header{
    background-image: url(../../imagenes/Surfing_Waves_Sea_458828_3840x2160.jpg);
    background-size: cover;
    min-height: 450px;
    background-position: center;
}

.logo{
	max-width: 100%;
	padding-top: 80px;
}

.logodiv{
	margin:0 auto;
	width: 30%;
}

.navbar {
	background-color: #37A8B3;
}

.otherPage {
	color:seashell;
	font-size: 20px;
	padding: 10px;
	display:inline-block;
}
.otherPage:hover {
	color: #82F4FF;
    text-decoration: none;
}

.iconoResponsive {
	color: seashell;
	font-size: 30px;
}

/* ESTILOS SECCION PLAN DEL MES */

.title {
    font-size: 50px;
    padding: 20px 0;
    margin: 20px 0;
}

.section-plans{
    align-items: center;
    border-radius: 15px ;
    border: 2px solid #57ABB3;
    background-color: seashell;
    color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    margin: 10px auto;
    width: 95%;
}

.section-title {
    font-family: 'ZCOOL QingKe HuangYou', ;
    font-size: 30px;
    padding: 10px 0;
}

.text-container{
    flex: 1 1 50%;
    padding: 20px;
}

.paragraph {
    color:black;    
    padding: 20px;
}

.list {
    padding: 20px;
}

.slider-container{
    flex: 1 1 50%;
}

.img {
    max-height: 100%;
    max-width: 100%;
}

.cupos-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

.cupos-title {
    font-size: 16px;
}

.cupos-number {
    border-radius: 5px;
    border: 2px solid  #57ABB3;
    height: 40px;
    margin: 0 auto;
    padding: 5px;
    width: 80px;
}

/* ESTILOS DEL FORMULARIO */
.form-container {
    display: block; 
    position: relative;
    border-radius: 15px;
    margin: 0 auto;
    padding: 50px 0;
    width: 95%;
}

.form-container::after {
    content: '';
    background-image: url(../../imagenes/slider5.jpg);
    background-size: cover;
    background-position: bottom;
    
    opacity: .8;
    top: 0; 
    left: 0;
     bottom: 0; 
     right: 0; 
     position: absolute; 
    z-index: -1; 
}
.formulario
{   
    padding: 20px 30px;
    font-size: 22px;
    text-shadow: 1px 1px 2px #57ABB3;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .6);
    max-width: 700px;
    margin: 0 auto;
}
.input_form
{
    border:0;
    border-bottom:white solid 2px;
    margin-bottom: 8px;
    width: 100%;
    padding: 3px;
    border-radius: 5px;
    border-top-color: none;
    outline: none;
    background-color: transparent;
    color: white;
}
.pedir
/* {
    border-left-color: black;
    background-color: transparent;
    width: 300px;
    margin: 5px;
    border-bottom-color: black;
    height: 30px;

}
.pedir:hover
{
    background-color: black;
} */
.tr_plan{
    width: 100%;
}
.td_form
{
    text-align: right;
    font-size: 16px;
    font-style: oblique;
    border: none;
    padding-left: 10px;
    width: 400px;
}
.texta_form
{
    border-radius: 5px; 
    border-bottom: white double 3px;
    outline: none;
    background-color: transparent;
    border-left: white 3px double;
    border-right: white 3px double;
    resize: none;
    display: inline-block;
    border-top: none;
    color: white;

}
.button_form
{
    border-radius: 5px;
    border-color:seashell;
    text-align: center;
    font-size: 13px;
    font-style: oblique;
    background-color: transparent;
    outline-offset: none;
    width: 70px;
    height:25px;
    margin-right: 35px;
    color: white;

}
.button_form:hover
{
    background-color: black;
    
}
.boton
{
    width: 100px;
    height: auto;
    margin-left: 300px;
    padding: 5px;
    font-size: 17px;
    border-radius: 5px;
    border-color:seashell;
    background-color: transparent;
    color: seashell;
}
.boton1
{
    margin-left: 20px;
    width: 100px;
    height:auto;
    padding: 5px;
    font-size: 17px;   
    border-radius: 5px;
    border-color:seashell;
    background-color: transparent;
    color: seashell;
}

.legend{
    justify-content: center;
    align-items: center;
    margin: 0 120px;
    width: 100%;
    height: 100%;
}

/* ESTILOS DEL SLIDER */
.slider {
	width: 95%;
    overflow: hidden;
    margin: 0 auto;
}

.slider ul {
	display: flex;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider img,
.slider li {
    border-radius: 5px;
    border: 1px solid black;
    height: 400px;
	width: 100%;
}


@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


/* ESTILOS FOOTER */

.footer {
    background: black;
    font-size: 18px;
    margin-top: 30px;
    min-height: 200px;
}

.footer-rs {
    display:inline-block;
    margin: 10px 0;
}

.footer-item {
    color:#ffffff;
    font-size: 40px;
    padding: 10px;
}

.footer-item:hover {
    color: #B0F8FF;
}


.gotop-container {
    position: relative;
    top: -20px;
}

.gotop {
    border-radius: 50%;
    border: 1px solid #37A8B3;
    background-color: white;
    color:  #37A8B3;
    font-size: 20px ;
    padding: 10px;
}

.copyright {
    color:  #37A8B3;
    font-size: 12px;
    margin-top: 10px ;
}

@media (max-width:1020px) {
    .text-container,
    .slider-container {
        flex: 1 1 100%;
    }
}

@media (max-width:620px) {

    .header {
        min-height: 300px;
    }

    .logodiv {
        width: 40%;
    }

    .title {
    font-size: 30px;
    padding: 10px 0;
    margin: 10px 0;
}

    .section-title {
    font-size: 25px;
    }

}
